<div class="alert alert-danger row col-12" *ngIf="!serviceAvailable">
  Service is temporarily unavailable. please try again later.
</div>

<h2>
  Queue
</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Problem</th>
      <th scope="col">Algorithm</th>
      <th scope="col">Number of evaluations</th>
      <th scope="col">Number of seeds</th>
      <th scope="col">Status</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody *ngIf="user != null">
    <tr *ngFor="let queueItem of user.queue">
      <th scope="row">{{ queueItem.name }}</th>
      <td>{{ queueItem.problem }}</td>
      <td>
        {{ queueItem.algorithm }}
      </td>
      <td>
        {{ queueItem.numberOfEvaluations }}
      </td>
      <td>
        {{ queueItem.numberOfSeeds }}
      </td>
      <td>
        {{ queueItem.status }}
        <ngb-progressbar
          *ngIf="queueItem.progress"
          type="info"
          [value]="queueItem.progress"
          [striped]="true"
          [animated]="true"
        >
          <i>{{ queueItem.progress }}% </i>
        </ngb-progressbar>
      </td>

      <td>
        <fa-icon
          [icon]="faPlay"
          class="btn"
          (click)="solveQueueItem(queueItem)"
        ></fa-icon>
        <fa-icon
          [icon]="faTimes"
          class="btn"
          (click)="cancelQueueItem(queueItem)"
        ></fa-icon>
        <fa-icon
          [icon]="faTrash"
          class="btn"
          (click)="removeQueueItem(queueItem)"
        ></fa-icon>
      </td>
    </tr>
  </tbody>
</table>
