<div class="container">
  <h1>MOEA Web Framework</h1>
  <h4>
    A Framework for Innovation
  </h4>
  <p>
    The MOEA Framework is a free and open source Java library for developing and
    experimenting with multiobjective evolutionary algorithms (MOEAs) and other
    general-purpose single and multiobjective optimization algorithms. The MOEA
    Framework supports genetic algorithms, differential evolution, particle
    swarm optimization, genetic programming, grammatical evolution, and more. A
    number of algorithms are provided out-of-the-box, including NSGA-II,
    NSGA-III, ε-MOEA, GDE3, PAES, PESA2, SPEA2, IBEA, SMS-EMOA, SMPSO, OMOPSO,
    CMA-ES, and MOEA/D. In addition, the MOEA Framework provides the tools
    necessary to rapidly design, develop, execute and statistically test
    optimization algorithms.
  </p>
</div>
