<nav class="navbar navbar-expand navbar-light bg-light">
  <!-- <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
  >
    <span class="navbar-toggler-icon"></span>
  </button> -->

  <div class="navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/" routerLinkActive="active">
          Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/problem" routerLinkActive="active">
          Problem
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/queue" routerLinkActive="active">
          Queue
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/results" routerLinkActive="active">
          Results
        </a>
      </li>
    </ul>
    <div *ngIf="user != null">
      <a routerLink="/login" id="login" *ngIf="!loggedIn">Log In</a>
      <a routerLink="/signup" class="btn btn-outline-primary" *ngIf="!loggedIn">
        Sign Up
      </a>

      <div class="d-inline-block" ngbDropdown *ngIf="loggedIn">
        <a href="" ngbDropdownToggle (click)="(false)">{{ user.firstName }}</a>
        <div ngbDropdownMenu class="dropdown-menu-right">
          <button ngbDropdownItem>Profile</button>
          <button ngbDropdownItem (click)="signout()">Sign out</button>
        </div>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
