<!--<ul ngbNav [activeId]="route.fragment | async" class="nav-tabs">-->
<!--  <li [ngbNavItem]="link.path" *ngFor="let link of routes">-->
<!--    <a ngbNavLink routerLink="/{{link.path}}" >{{ link.title }}</a>-->
<!--  </li>-->
<!--</ul>-->
<div class="main-container">
  <!-- <div class="sidebar">
    <ul class="sidebar-list">
      <li *ngFor="let route of routes | keyvalue" class="sidebar-list-item">
        <a
          [routerLinkActiveOptions]="{ exact: true }"
          class="sidebar-list-item-link"
          routerLink="/{{ route.key }}"
          routerLinkActive="active"
        >
          {{ link.title }}
        </a>
      </li>
    </ul>
  </div> -->

  <div *ngIf="this.isOffline">You are offline!</div>

  <div class="main">
    <router-outlet></router-outlet>
  </div>
</div>
