<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngFor="let route of routes">
          <a class="nav-link" aria-current="page" routerLink="/{{route.path}}" routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}"
             href="#">{{route.title}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div *ngIf="this.isOffline" class="alert alert-danger offline-alert" role="alert">
  You are offline!
</div>

<router-outlet></router-outlet>
