<div class="container">
  <div *ngIf="isMenuSelected" class="menu-container">
    <button type="button">
      <img class="menu-icon" src="assets/google_logo.svg" alt="Google logo" />
      Sign in with Google
    </button>
    <button type="button">
      <img
        class="menu-icon"
        class="menu-icon"
        src="assets/facebook_logo.svg"
        alt="Google logo"
      />
      Sign in with Facebook
    </button>
    <button type="button">
      <img class="menu-icon" src="assets/github_logo.svg" alt="Google logo" />
      Sign in with Github
    </button>
    <button type="button">
      <img class="menu-icon" src="assets/twitter_logo.svg" alt="Google logo" />
      Sign in with Twitter
    </button>
    <button type="button">
      <fa-icon
        transform="grow-10"
        [icon]="faEnvelope"
        class="btn menu-icon"
      ></fa-icon>
      Sign in with Username
    </button>
  </div>
  <div *ngIf="!isMenuSelected" class="row justify-content-center">
    <form class="col-sm-4" [formGroup]="formGroup">
      <div class="row">
        <div class="form-group col-sm-12">
          <label for="usename">Username</label>
          <input
            autofocus
            type="text"
            class="form-control"
            id="usename"
            formControlName="username"
          />
        </div>
        <div class="form-group col-sm-12">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            formControlName="password"
          />
        </div>
      </div>
      <div
        class="row justify-content-center bad-credentials"
        *ngIf="badCredentials"
      >
        Invalid username or password
      </div>
      <div class="row justify-content-center">
        <button type="submit" class="btn btn-primary" (click)="login()">
          Log in
        </button>
      </div>
    </form>
  </div>
</div>
