<div *ngIf="isReady === true">
  <h1 *ngIf="this.error !== undefined">{{ error }}</h1>

  <div class="container">
    <form [formGroup]="form" (ngSubmit)="addQueueItem(form)">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" aria-describedby="name" placeholder="New evaluation" required
               formControlName="name">
        <small id="nameRequiredError" class="form-text text-muted"
               *ngIf="form.controls.name.errors?.required">This
          field si required!</small>
        <small id="namePatternError" class="form-text text-muted"
               *ngIf="(form.controls.name.dirty || form.controls.name.touched) && form.controls.name.errors?.pattern">
          Valid characters: a, A, 0, _
        </small>
      </div>

      <div class="form-group">
        <label for="numberOfEvaluations">Number of evaluations</label>
        <input class="form-control" type="number" value="10000" min="500" id="numberOfEvaluations"
               formControlName="numberOfEvaluations" required>
      </div>

      <div class="form-group">
        <label for="numberOfSeeds">Number of seeds</label>
        <input class="form-control" type="number" value="10" min="1" id="numberOfSeeds" formControlName="numberOfSeeds"
               required>
      </div>

      <div class="form-group">
        <label for="algorithm">Algorithm</label>
        <select class="form-control" id="algorithm" formControlName="algorithm">
          <option
            *ngFor="let algorithm of user.algorithms"
            value="{{ algorithm }}"
          >
            {{ algorithm }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="problem">Problem</label>
        <select class="form-control" id="problem" formControlName="problem">
          <option *ngFor="let problem of user.problems"
                  value="{{ problem }}">
            {{ problem }}
          </option>
        </select>
      </div>
      <div class="submit-container">
        <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Add</button>
      </div>
    </form>
  </div>
</div>
