<!-- <div class="container">
  <form class="col-sm-8">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" />
    </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" />
    </div>

    <div class="form-group">
      <label for="firstName">First name</label>
      <input type="text" class="form-control" id="firstName" />
    </div>

    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" id="lastName" />
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" />
    </div>

    <div class="form-group">
      <label for="confirmPassword">Confirm password</label>
      <input type="password" class="form-control" id="confirmPassword" />
    </div>

    <button type="submit" class="btn btn-primary" (click)="signup()">
      Sign Up
    </button>
  </form>
</div>
</div> -->
